*{
  margin: 0;
  padding:0;
}

body {

  --studionaach-primary:#b0410a;
  --studionaach-primary-opacity:rgba(214, 82, 39, 0.6);
  --studionaach-secondry:#DBB8A7;
  --studionaach-primary-gradient :linear-gradient(90deg, #B0410A 0%, #DF7139 100%);
  --studionaach-primary-gradient-transition :linear-gradient(90deg, #DF7139 0%, #B0410A 100%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@keyframes increaseWidth {
  0% { width:0}
  100% {width:100%}
}
@keyframes showInfoBlog {
  0% {bottom:-100px}
  100% {bottom:0;top:""}
}
